In [10]:
#create dict
titanic={"survived":[0,1,1,1],"pclass":[1,0,1,0],"sex":["female","male","female","male"]}
titanic

{'survived': [0, 1, 1, 1],
 'pclass': [1, 0, 1, 0],
 'sex': ['female', 'male', 'female', 'male']}

In [3]:
l=[1,2,3]
l

[1, 2, 3]

In [4]:
s="asdf"
s

'asdf'

In [5]:
t=(1,2)
t

(1, 2)

In [8]:
d={"name":"Raj","age":45,"gender":"male"}
print(type(d))
d

<class 'dict'>

{'name': 'Raj', 'age': 45, 'gender': 'male'}

In [11]:
#dict always in key value pair
#dict coated in {}
#dict mutable,ordered,dynamically increse and decrease

In [16]:
person={"name":"Alice","age":34,"city":"New york"}
person

{'name': 'Alice', 'age': 34, 'city': 'New york'}

In [19]:
#muttable
person={"name":"Alice","age":34,"city":"New york"}
my_list

NameError: name 'my_list' is not defined

In [22]:
person={"name":"Alice","age":34,"city":"New york"}
p=person["age"]=30
print(person)
p

{'name': 'Alice', 'age': 30, 'city': 'New york'}

30

In [23]:
#unique key
person={"name":"Alice","age":34,"age":84,"age":54}
person

{'name': 'Alice', 'age': 54}

In [25]:
my_dict={(1,2):"point","name":"Alice"}
print(my_dict)

{(1, 2): 'point', 'name': 'Alice'}

In [26]:
my_dict1={1:"hello"}
my_dict2={[1,2]:"hello"}

TypeError: unhashable type: 'list'

In [28]:
#keys in dict unique,immuttable

In [30]:
#acess value
my_dict={"name":"Alice",
         "age":34,
         "hobbies":["reading","hiking"],
        "education":"degree"}
my_dict

{'name': 'Alice',
 'age': 34,
 'hobbies': ['reading', 'hiking'],
 'education': 'degree'}

In [32]:
#get method
person={"name":"Alice","age":34,"city":"New york"}
person.get("age")

34

In [35]:
person={"name":"Alice","age":34,"city":"New york"}
print(person.get("rollno"))

None

In [36]:
person={"name":"Alice","age":34,"city":"New york"}
person.keys()

dict_keys(['name', 'age', 'city'])

In [37]:
person={"name":"Alice","age":34,"city":"New york"}
person.values()

dict_values(['Alice', 34, 'New york'])

In [38]:
person={"name":"Alice","age":34,"city":"New york"}
person.items()

dict_items([('name', 'Alice'), ('age', 34), ('city', 'New york')])

In [39]:
person={"name":"Alice","age":34,"city":"New york"}
for i in person:
    print(i)

name
age
city

In [40]:
for j in person.values():
    print(j)

Alice
34
New york

In [43]:
for i,j in person.items():
    print(f"{i}:{j}")

name:Alice
age:34
city:New york

In [44]:
#del
person={"name":"Alice","age":34,"city":"New york"}
del person["age"]
person

{'name': 'Alice', 'city': 'New york'}

In [47]:
person={"name":"Alice","age":34,"city":"New york"}
a=person.pop("age")
a

34

In [56]:
person={"name":"Alice","age":34,"city":"New york"}
a=person.popitem()
a

('city', 'New york')

In [57]:
person={"name":"Alice","age":34,"city":"New york"}
34 in person

False

In [58]:
34 not in person

True

In [60]:
cubes={x:x**3 for x in range(1,11) if x%2==0}
print(cubes)

{2: 8, 4: 64, 6: 216, 8: 512, 10: 1000}

In [61]:
squares={x:x**2 for x in range(1,11) if x%2==0}
print(squares)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}